body {
    width: 100%;
    font-size: 14px
}


input[type=radio] {
    margin-left: 5px;
    margin-right: 5px;
}

.childRadio {
    margin-left: 10px;
}

.border {
    border: 1px solid grey;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin: 5px;
    background-color: white;
}

label {
    margin:0px
}

.valve-image {
    height: 100%;
    width: 100%;
    margin-top: 30vh;
}

.table-responsive-lg {
    overflow: auto;
}

input[type=number] {
    width: auto;
    padding: 0px;
    margin: 3px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #808080;
}

input[type=text] {
    padding: 0px;
    margin: 3px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #808080;
}


select {
    width: auto;
    padding: 0px;
    border: none;
    border-radius: 4px;
    border: 2px solid #808080;
    box-sizing: border-box;
}

    select:disabled {
        
        cursor: default;
        background-color: rgb(235, 235, 228);
    }
        
input [type=button], input[type=submit], input[type=reset] {
    background-color: #ff7d00;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}

.hide-btn {
    display: none;
}

.show-btn {
    display:inline-block;
}

.table td, .table th {
    padding: .2rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.btn-index {
    border: 1px solid #f37134;
    color: #fff;
    background-color: #f37134;
    border-color: #f37134;
    border-radius: 5px;
    white-space: normal;
}


.non-padding {
    padding: 0 !important;
}

.padding-top-bottom {
    padding-top: 3px !important;
    padding-bottom: 7px !important;
}


.jumbotron {
    padding: 2rem 1rem !important;
}